[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/fsharp"]
	path = bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
[submodule "Rainbow-Parenthesis"]
	path = Rainbow-Parenthesis
	url = git://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/Rainbow-Parenthesis"]
	path = bundle/Rainbow-Parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
